/*
!/Eco.TaskScheduler1Lab/
!/MySimpleEcoOS/
!/.gitignore
!/env.bat
**/BuildFiles/
**/AssemblyFiles/**/.vs/
**/AssemblyFiles/**/Debug/
**/AssemblyFiles/**/Release/
*.o
*.obj
*.a
*.so
*.lib
*.dll
*.exe
*.elf
*.img
*.map
*.list
*.user
*.suo
*.sdf
*.opensdf
*.ipch
